# Node
**/node_modules/

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Build
**/build/
**/dist/

# Strapi
**/.strapi/
**/.tmp/

# Logs
**/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Strapi uploads
backend/public/uploads/*
!backend/public/uploads/.gitkeep